.page {
  background-color: #000;
}

.page__content {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  min-height: 100vh;
  text-transform: capitalize;
}

.page__section {
  max-width: 880px;
  width: 100%;
  margin: 0 auto;
}
