.card {
  position: relative;
  width: 282px;
  background-color: #fff;
  border-radius: 10px;
}

.card__image {
  width: 282px;
  height: 282px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.card__trash-bin {
  position: absolute;
  top: 20px;
  right: 20px;
  background: transparent url(../images/Trash.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  cursor: pointer;
  width: 18px;
  height: 19px;
  opacity: 1;
  transition: opacity 0.3s ease-out 0s;
}

.card__trash-bin:hover {
  opacity: 0.6;
}

.card__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 30px 25px 20px;
}

.card__title {
  margin: 0;
  font-weight: 900;
  max-width: 209px;
  font-size: 24px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 1.2;
}

.card__group {
  background: transparent url(../images/Group.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  width: 22px;
  height: 18px;
  opacity: 1;
  transition: opacity 0.3s ease-out 0s;
  cursor: pointer;
}

.card__group:hover {
  opacity: 0.5;
}

.card__group_active {
  background: transparent url(../images/Union.svg);
  background-repeat: no-repeat;
}

@media screen and (max-width: 790px) {
  .card__group {
    background-size: contain;
  }
}
