.elements {
  margin: 51px 0 0 0;
}

.cards {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  /* grid-gap: 17px 20px; */
}

.card {
  background-color: #fff;
  border-radius: 10px;
  width: 281px;
  height: 360px;
}

.card__image {
  width: 282px;
  height: 282px;
  background-image: url(../images/yosemite.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.card__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 30px 25px 20px;
}

.card__title {
  margin: 0;
}

.card__group {
  width: 21px;
  height: 18px;
}
