.elements {
  margin: 51px 0 0 0;
}

.card {
  width: 282px;
  height: 361px;
  background-color: #fff;
  border-radius: 10px;
}

.card__image {
  width: 282px;
  height: 282px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.card__title {
  display: flex;
  justify-content: space-between;
  margin: 25px 30px 25px 20px;
}

.card__group {
}
