.header {
  min-height: 74px;
  border-bottom: 1px solid #545454;
  margin-top: 45px;
}

.header__logo {
  width: 173px;
  height: 33px;
}

@media screen and (max-width: 638px) {
  .header__logo {
    width: 126px;
    height: 24px;
  }
}
