.profile {
  margin-top: 40px;
  display: flex;
  align-items: center;
}

.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-image: url(../images/jacques-cousteau.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.profile__profile-info {
  display: flex;
  flex-direction: column;
}

.profile__title {
  display: flex;
  align-items: center;
  gap: 18px;
}

.profile__name {
  color: #fff;
  font-size: 42px;
  font-weight: 500;
  margin: 0 0 0 30px;
  max-width: 375px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 1.14;
}

.profile__edit-btn {
  background: transparent url(../images/edit-Button.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 1px solid #fff;
  width: 24px;
  height: 24px;
  opacity: 1;
  transition: opacity 0.3s ease-out 0s;
  cursor: pointer;
}

.profile__edit-btn:hover {
  opacity: 0.6;
}

.profile__occupation {
  margin: 7px 0 0 30px;
  color: #fff;
  font-size: 18px;
  line-height: 1.2;
  max-width: 373px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.profile__add-btn {
  background: transparent url(../images/add__btn.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: none;
  border-radius: 2px;
  margin: 0 0 0 auto;
  width: 150px;
  height: 50px;
  opacity: 1;
  transition: opacity 0.3s ease-out 0s;
  cursor: pointer;
}

.profile__add-btn:hover {
  opacity: 0.6;
}

@media screen and (max-width: 790px) {
  .profile__title {
    gap: 5px;
  }

  .profile__name {
    font-size: 32px;
    margin: 0 0 0 10px;
  }

  .profile__edit-btn {
    width: 20px;
    height: 20px;
  }

  .profile__add-btn {
    background: transparent url(../images/plus-sign.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid #fff;
    width: 45px;
    height: 45px;
  }

  .profile__occupation {
    margin: 7px 0 0 10px;
    max-width: 320px;
  }
}

@media screen and (max-width: 638px) {
  .profile {
    flex-direction: column;
  }

  .profile__name {
    font-size: 22px;
    margin: 30px auto 0;
    gap: 10px;
    text-align: center;
    max-width: 200px;
    line-height: 1.2;
  }

  .profile__edit-btn {
    height: 18px;
    width: 18px;
    margin: 30px 0 0;
  }

  .profile__occupation {
    max-width: 170px;
    margin: 14px auto 0;
    font-size: 14px;
  }

  .profile__add-btn {
    background: transparent url(../images/plus-sign.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid #fff;
    width: 282px;
    margin: 36px auto 0;
  }
}
