.profile {
  max-width: 880px;
  margin-top: 40px;
  display: flex;
  align-items: center;
}

.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-image: url(../images/jacques-cousteau.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.profile__profile-info {
  display: flex;
  flex-direction: column;
}

.profile__title {
  display: flex;
  align-items: center;
  gap: 18px;
}

.profile__name {
  display: flex;
  gap: 18px;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 42px;
  font-weight: 500;
  margin: 0 0 0 30px;
}

.profile__edit-btn {
  width: 24px;
  height: 24px;
  opacity: 1;
  transition: opacity 0.3s ease-out 0s;
  cursor: pointer;
}

.profile__occupation {
  margin: 7px 0 0 30px;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 18px;
}

.profile__add-btn {
  background-image: url(../images/Add\ Button.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 0 0 auto;
  width: 150px;
  height: 50px;
  opacity: 1;
  transition: opacity 0.3s ease-out 0s;
  cursor: pointer;
}

.profile__edit-btn:hover,
.profile__add-btn:hover {
  opacity: 0.6;
}

@media screen and (max-width: 330px) {
  .profile {
    flex-direction: column;
  }

  .profile__name {
    font-size: 22px;
    margin: 30px auto 0;
    gap: 10px;
    text-align: center;
  }

  .profile__edit-btn {
    height: 18px;
    width: 18px;
    margin: 30px 0 0;
  }

  .profile__occupation {
    margin: 14px auto 0;
    font-size: 14px;
  }

  .profile__add-btn {
    background-image: url(../images/add-btn.svg);
    width: 282px;
    margin: 36px auto 0;
  }
}

@media screen and (max-width: 936px) {
  .profile {
    flex-direction: column;
  }

  .profile__name {
    font-size: 28px;
    margin: 30px auto 0;
    gap: 10px;
    text-align: center;
  }

  .profile__edit-btn {
    height: 19px;
    width: 19px;
    margin: 30px 0 0;
  }

  .profile__occupation {
    margin: 14px auto 0;
    font-size: 15px;
  }

  .profile__add-btn {
    background-image: url(../images/add-btn.svg);
    width: 282px;
    margin: 36px auto 0;
  }
}
