.cards {
  display: flex;
}

.cards__list {
  list-style-type: none;
  padding: 0;
  margin: 51px auto 0;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 20px 17px;
}
