.header {
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  margin-top: 45px;
}

.header__logo {
  width: 173px;
  height: 33px;
  margin-bottom: 41px;
}

@media screen and (max-width: 780px) {
  .header__logo {
    width: 142px;
    height: 28px;
  }
}

@media screen and (max-width: 430px) {
  .header {
    margin: 26px 0 0;
  }

  .header__logo {
    width: 126px;
    height: 24px;
    margin: 0 0 32px 27px;
  }
}
