.picture-modal__container {
  position: relative;
  top: 90px;
  bottom: 0;
}

.picture-modal__image {
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
  max-width: 75vw;
  max-height: 75vh;
}

.picture-modal__title {
  color: #fff;
  font-family: Inter, Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  margin: 5px 0 0;
}

@media screen and (max-width: 638px) {
  .picture-modal__close-btn {
    height: 30px;
    width: 30px;
  }
}
